
body {
	margin: 0;
	background-color: #0f0f0f;
	color: #e0e0e0;
	font-family: 'Segoe UI', sans-serif;
	overflow-x: hidden;
	font-size: 18px;
}

.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	padding-left: 1em;
	padding-right: 1em;
}
